<form method="post" action="{{ path('app_image_delete', {'id': image.id}) }}" onsubmit="return confirm('Etes vous sûr de supprimer ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ image.id) }}">
    <button class="btn">Supprimer</button>
</form>
<style>
    .btn {
        background-color:B87333;
        color:FFFFFF;
        margin-top:2%;
    }
     a:hover {
  color:000000;
}
</style>